body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "Lora", serif;
}

#categories-container {
    width: 85%;
}

#categories-list {
    list-style-type: none;
    padding: 0;
}

#categories-list li {
}